*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
}

.row{
    display: flex;
    justify-content: center;
    flex-direction:column;
    min-height: 100vh;
    margin-top:50px ;
}
button{
    border: none;
    padding: 5px 12px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
button:hover{
    border: none;
    padding: 5px;
    color: rgb(255, 254, 254);
    background-color: rgb(231, 38, 38);
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.5s;
}
.text{
    color:rgb(231, 38, 38);
    font-weight: 900;
    font-size: 18px;
}
.img{
    justify-content: center;
    display: flex;
}
.topIp{
    justify-content: center;
    display: flex;
    height: 50px;
    padding-bottom: 15px;
}
.app{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.poster{
    display: flex;
    justify-content: center;
}
.ttt{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 45px;
    font-weight: 900;
}
